
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Sirin+Stencil&display=swap');
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}
body {
  background:#f8fafc;
  color: black; /* optional: for light text globally */
}

/* #606875 */
/* #D3D8DF */
/* #D5DCE1 */
/* #6A7280 */


@theme{
  --color-primary : #606875;
  --color-secprimary :#D3D8DF;
  --color-primary-dull:#D63854;
}


.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display:none;
}

@media (max-width:640px){
  a.active{
    background-color:#b47ab1;
    color:rgb(255, 255, 255);
  }
}